<div class="row-fluid" ng-controller="SignInCtrl" ng-show="needsLogin">
    <div class="span4 offset4 well">
        <h4>Sign in</h4>
        <hr>
        <div class="alert alert-error" ng-show="authError">
            Auth error...
        </div>
        <form name="form">
            <label>E-mail</label>
            <input class="span12" name="login" type="text" ng-model="user.email" required autofocus>
            <label>Password</label>
            <input class="span12" name="pass" type="password" ng-model="user.password" required>
        </form>
        <hr>
        <button class="btn btn-primary" ng-click="signIn()" ng-disabled='form.$invalid'>Sign in</button>
        <button class="btn" ng-click="clearForm()">Clear</button>
    </div>
</div>
