 language: node_js
 node_js:
   - "0.8"

 before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install --quiet -g grunt@0.3.x testacular@0.4.x
  - git clone --quiet git://github.com/angular-app/angular-app-server.git
  - cd angular-app-server
  - npm install --quiet
  - cd ..
  - node angular-app-server/server.js &
  - sleep 3 # give server some time to start

 script: grunt release