<div class="well">
    <h4>Product backlog item</h4>
    <hr>
    <form name="form" crud-edit="backlogItem">
        <label>Name</label>
        <input type="text" name="name" ng-model="backlogItem.name" class="span10" required autofocus>
        <label>User story</label>
        <textarea rows="8" cols="10" ng-model="backlogItem.desc" class="span10" required>
        </textarea>
        <label>Priority</label>
        <input type="number" ng-model="backlogItem.priority" required>
        <label>Estimation</label>
        <input type="number" ng-model="backlogItem.estimation" required>
        <hr>
        <crud-buttons></crud-buttons>
    </form>
</div>