<div class="well">
    <h4>User form</h4>
    <hr>
    <div class="alert alert-error" ng-show="updateError">
        Update / delete error...
    </div>
    <form name="form" novalidate>
        <label>E-mail</label>
        <input class="span6" type="email" name="email" ng-model="item.email" required unique-email>
        <label>Last name</label>
        <input class="span6" type="text" name="lastName" ng-model="item.lastName" required>
        <label>First name</label>
        <input class="span6" type="text" name="firstName" ng-model="item.firstName" required>
        <label>Password</label>
        <input class="span6" type="password" name="password" ng-model="item.password" required>
        <label>Password (repeat)</label>
        <input class="span6" type="password" name="passwordRepeat" ng-model="password" required validate-equals="item.password">
        <label>Admin</label>
        <input type="checkbox" ng-model="item.admin">
    </form>
    <hr>
    <crud-buttons></crud-buttons>
</div>