<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>E-mail</th>
        <th>Last name</th>
        <th>First name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users" ng-click="edit(user)">
        <td>{{user.email}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
    </tr>
    </tbody>
</table>
<div class="well">
    <button class="btn" ng-click="new()">New User</button>
</div>
