<ul class="nav pull-right">
  <li class="divider-vertical"></li>
  <li ng-show="currentUser.isAuthenticated()">
      <a href="#">{{currentUser.info().firstName}} {{currentUser.info().lastName}}</a>
  </li>
  <li ng-show="currentUser.isAuthenticated()" class="logout">
      <form class="navbar-form">
          <button class="btn" ng-click="security.logout()">Log out</button>
      </form>
  </li>
  <li ng-hide="currentUser.isAuthenticated()" class="login">
      <form class="navbar-form">
          <button class="btn" ng-click="security.login()">Log in</button>
      </form>
  </li>
</ul>