<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#/dashboard">AScrum</a>
        <ul class="nav">
            <li ng-class="{active:isNavbarActive('myprojects')}"><a href="#/projects">My projects</a></li>
            <li ng-class="{active:isNavbarActive('admin')}"><a href="#/admin">Admin</a></li>
        </ul>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><a href="#">{{security.getUser().login}}</a></li>
        </ul>
    </div>
    <div>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in pathElements" class="active">
                <span class="divider">/</span>
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb}}</span>
                    <span ng-switch-default><a href="#{{breadcrumbPath($index)}}">{{breadcrumb}}</a></span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <div class="progress progress-striped active" ng-show="hasPendingRequests()">
        <div class="bar" style="width: 100%;"></div>
    </div>
</div>