<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>My Role</th>
        <th>Tools</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in projects">
        <td ng-click="manageBacklog(project.$id())">{{project.name}}</td>
        <td ng-click="manageBacklog(project.$id())">{{project.desc}}</td>
        <td>TODO</td>
        <td>
            <button class="btn btn-mini"  ng-click="manageBacklog(project.$id())">Product backlog</button>
            <button class="btn btn-mini" ng-click="manageSprints(project.$id())">Sprints</button>
        </td>
    </tr>
    </tbody>
</table>