<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#/dashboard">AScrum</a>
        <ul class="nav">
            <li ng-class="{active:isNavbarActive('projectsInfo')}"><a href="#">Projects info</a></li>
        </ul>

        <ul class="nav" ng-show="authService.currentUser">
            <li ng-class="{active:isNavbarActive('projects')}"><a href="#/projects">My projects</a></li>
            <li class="dropdown" ng-class="{active:isNavbarActive('admin'), open:isAdminOpen}">
                <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isAdminOpen=!isAdminOpen">Admin<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu">
                    <li><a tabindex="-1" href="#/admin/projects" ng-click="isAdminOpen=false">Projects</a></li>
                    <li><a tabindex="-1" href="#/admin/users" ng-click="isAdminOpen=false">Users</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li ng-show="authService.currentUser">
                <a href="#">{{authService.currentUser.firstName}} {{authService.currentUser.lastName}}</a>
            </li>
            <li ng-show="authService.currentUser">
                <form class="navbar-form">
                    <button class="btn" ng-click="authService.logout()">Log out</button>
                </form>
            </li>
            <li ng-show="!authService.currentUser">
                <form class="navbar-form">
                    <button class="btn">Log in</button>
                </form>
            </li>
            <li class="divider-vertical"></li>
            <li><a href="#"><img src="static/img/spinner.gif" ng-show="hasPendingRequests()"></a></li>
        </ul>
    </div>
    <div>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in pathElements" class="active">
                <span class="divider">/</span>
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb}}</span>
                    <span ng-switch-default><a href="#{{breadcrumbPath($index)}}">{{breadcrumb}}</a></span>
                </ng-switch>
            </li>
        </ul>
    </div>
    <div class="alert alert-error" ng-show="routeChangeError">
        {{routeChangeError}}
    </div>
</div>