<div modal="showLoginForm" close="cancelLogin()">
    <div class="modal-header">
        <h4>Sign in</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-error" ng-show="authError">
            {{authError}}
        </div>
        <form name="form" ng-submit="login()" >
            <label>E-mail</label>
            <input name="login" type="email" ng-model="user.email" required autofocus>
            <label>Password</label>
            <input name="pass" type="password" ng-model="user.password" required>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>
        <button class="btn clear" ng-click="clearForm()">Clear</button>
        <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>
    </div>
</div>
