<div class="well">
    <h4>User form</h4>
    <hr>
    <form name="form">
        <label>E-mail</label>
        <input class="span6" type="email" name="email" ng-model="item.email" required unique-email>
        <label>First name</label>
        <input class="span6" type="text" name="firstName" ng-model="item.firstName" required>
        <label>Last name</label>
        <input class="span6" type="text" name="lastName" ng-model="item.lastName" required>
        <label>Password</label>
        <input class="span6" type="password" name="lastName" ng-model="item.password" required>
        <label>Password (repeat)</label>
        <input class="span6" type="password" name="lastName" ng-model="password" required>
        <label>Admin</label>
        <input type="checkbox" ng-model="item.admin">
    </form>
    <hr>
    <button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="!canSave()">Save</button>
    <button type="button" class="btn btn-warning" ng-click="revertChanges()" ng-disabled="!canRevert()">Revert changes</button>
    <button type="button" class="btn btn-danger" ng-click="remove()" ng-show="item._id">Remove</button>
</div>