<div class="well">
    <form name="form" novalidate crud-edit="user">
        <legend>User</legend>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="email" id="email" name="email" ng-model="user.email" required unique-email>
                    <span ng-show="showError('email', 'required')" class="help-block">This field is required.</span>
                    <span ng-show="showError('email', 'email')" class="help-block">Please enter a valid email address.</span>
                    <span ng-show="showError('email', 'uniqueEmail')" class="help-block">This email address is not available - please enter another.</span>
                </div>

                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input class="form-control" type="text" id="lastName" name="lastName" ng-model="user.lastName" required>
                    <span ng-show="showError('lastName', 'required')" class="help-block">This field is required.</span>
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input class="form-control" type="text" id="firstName" name="firstName" ng-model="user.firstName" required>
                    <span ng-show="showError('firstName', 'required')" class="help-block">This field is required.</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" ng-model="user.password" required>
                    <span ng-show="showError('password', 'required')" class="help-block">This field is required.</span>
                    <span ng-show="showError('passwordRepeat', 'equal')" class="help-block">Passwords do not match.</span>
                </div>
                <div class="form-group">
                    <label for="passwordRepeat">Password (repeat)</label>
                    <input class="form-control" type="password" id="passwordRepeat" name="passwordRepeat" ng-model="password" required validate-equals="user.password">
                    <span ng-show="showError('passwordRepeat', 'required')" class="help-block">This field is required.</span>
                    <span ng-show="showError('passwordRepeat', 'equal')" class="help-block">Passwords do not match.</span>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="user.admin"> Admin</label>
                </div>
            </div>
            <div class="col-md-4">
                <gravatar email="user.email" size="200" class="center-block img-polaroid"></gravatar>
            </div>
        </div>
        <hr>
        <crud-buttons></crud-buttons>
    </form>
</div>