<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.min.js"></script>

    <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.min.css"/>

    <!-- partials:start -->
    <%= grunt.file.read('dist/partials.tpl.html') %>
    <!-- partials:end -->
</head>

<body ng-controller="AppController">

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>
<ul class="breadcrumb">
    <li class="active">{{location.path()}}</li>
</ul>

<div ng-view></div>

</body>
</html>