<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <script type="text/javascript" src="/static/angular.js"></script>
    <script type="text/javascript" src="/static/mongolab.js"></script>
    <script type="text/javascript" src="/static/<%= grunt.config.get('pkg.name') %>.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/<%= grunt.config.get('pkg.name') %>.css"/>
</head>

<body ng-controller="AppCtrl">
<div ng-include="'header.tpl.html'"></div>

<div ng-view></div>

</body>
</html>